.loader {
    position: absolute;
    z-index: 10001;
    width: 100%;
    left: 15px;
    background-color: none;
    img {
        display: block;
        margin: 220px auto 700px auto;
        width: 70px;
        height: 70px;
        position: relative;
        animation: bounce .2s infinite alternate;
    }
}

@keyframes bounce {
    from {bottom: 0px}
    to {bottom: 10px}
}
