<div class="container" (scroll)="onScroll($event)">
    <h1>Pokédex</h1>
    
    <app-loader 
        *ngIf="isLoading"
        [total] = "total"
        [progress]="progress"
    >       
    </app-loader>

    <div class="row cards" [ngClass]="{'visible' : !isLoading}">
        <div class="col-3" *ngFor="let pokemon of pokemons; index as i">
            <div class="card" 
                [ngClass]="{'visible' : isLoading}"
                routerLink="/details/{{pokemon.id}}" 
                (click)="passPokemon(i)"
            >
                <div class="card-body">
                    <h5 class="card-title">
                        #{{'00' + pokemon.id | slice:-3}} <strong>{{pokemon.name}}</strong>
                    </h5>
                    <img class="card-img img-fluid mx-auto d-block" src="{{pokemon.sprite_small}}" alt="{{pokemon.name}}" />
                    
                    <div class="types">
                        <div *ngFor="let type of pokemon.types" class="type {{type.name}}">{{type.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="!inifiniteScrollOn && !isLoading">
            <button type="button" class="btn btn-primary btn-lg mx-auto d-block" (click)="loadMore()">Load more Pokémon</button>
        </div>
    </div>
    
    

</div>