div.container {
    position: relative;
    min-height: 1150px;
    width: 1024px;
    padding: 54px 44px 0px 44px;
    background-color: white;
    .row.cards {
        opacity: 0.1;
        &.visible{
            animation: fadein .5s;
            animation-fill-mode: forwards;
            }
        margin-right: -8px;
    }
    button {
        margin: 0 auto 54px auto;
    }
}

h1 {
    margin: 0px 0px 54px 0px;
    text-transform: uppercase;
    font-weight: 900;
}

div.card {
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    bottom: 0px;
    height: 238px;
    width: 216px;
    margin-bottom: 60px;
    background-color: #f2f1f1;
    border: 0;
    &.visible {
        animation: moveup .5s 1;
        animation-fill-mode: forwards;
    }
    &:hover {
        animation: hover .2s ease;
    }
    .card-img {
        position: absolute;
        left: 5%;
        top: 15px;
        width: 90%;
    }
    .card-title {
        font-weight: 300;
        margin: 0;
        color: #444444;
        margin-left: 5px;
        strong {
            font-weight: 700;
        }
    }
    .card-body {
        padding: 0;
        .types {
         font-family: 'Abel', sans-serif;
         font-weight: bolder;
         position: absolute;
         bottom: 0;
         width: 100%;   
        }
        .type {
            float: left;
            width: 50%;
            text-transform: uppercase;
            text-align: center;
      
      
        }
        .type:first-child{
           border-bottom-left-radius: 6px;
           border-top-right-radius: 6px;
        }
        .type:nth-child(2){
            border-top-left-radius: 6px;
            border-bottom-right-radius: 6px;
         }
    }
}

@keyframes hover {
    0% {bottom: 0px}
    50% {bottom: 8px}
    100% {bottom: 0px}
}

@keyframes moveup {
    from {top: 200px; opacity: 0; height: 500px}
    to {top: 0; opacity: 1; height: 238px}
}

@keyframes fadein {
    from {opacity: .1;}
    to {opacity: 1;}
}