html, body {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

body {
    background: url('assets/landscape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}

.bar {
    height: 50px;
    background-color: rgb(12, 24, 72);
    .logo {
        a {
            text-decoration: none;
            color: white;   
        }
         
        margin: 8px auto;
        width: 1024px;
        img {
            width: 35px;
            height: 35px;
        }
        strong {
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
            top: 2px;
        }
        small {
            color: white;
            font-weight: 400;
            font-size: 12px;
            position: relative;
            top: 2px;
            a{
                text-decoration: underline;
            }
        }
    }
}

.type {
    &.normal { background-color: rgba(255, 255, 255, 0.00)}
    &.fighting { background-color: #FFB858 }
    &.water { background-color: #419FFE }
    &.bug { background-color: #E4FFD4 }
    &.flying { background-color: #d8d8d8}
    &.grass { background-color: #a0da5e}
    &.poison { background-color: #be93e7}
    &.ground { background-color: #9E835F}
    &.steel { background-color: #C3C3C3}
    &.fire { background-color: #e85e0e}
    &.dark { background-color: #6D55A6}
    &.rock { background-color: #788796}
    &.ice { background-color: #88FFFB}
    &.fairy { background-color: #FF9DDF}
    &.dragon { background-color: #62D93F}
    &.electric { background-color: #7199FF}
    &.ghost { background-color: rgb(181, 241, 255)}
    &.psychic { background-color: #F9FFD1}
}
