div.container {
    min-height: 900px;
    max-width: 1024px;
    padding: 0px 32px;
    background-color: white;
    div.details {
        opacity: 0;
        &.visible{
            animation: fadein .5s ease 100ms;
            animation-fill-mode: forwards;
            }
    }
    button {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-radius: 8px;
        font-size: 14px;
        padding: 15px;
        background-color: #e85e0e;
        margin: 37px auto 54px auto;
        display: block;
        border: none;
        transition: .5s background-color;
        &:hover {
            background-color: #FF985D;
        }
    }
}

nav{
margin: 0px -32px;
    cursor: pointer;
    
    div a {
        display: block;
        background-color: #606c78;
        padding: 20px 40px;
        color: white;
        transition: background-color .5s;
        &:hover {
            background-color: #4a90e2;
        }
        h5{
            opacity: 0;
            font-weight: 300;
            &.visible {
                animation: fadein .5s;
                animation-fill-mode: forwards;
            }
            strong {
                font-weight: 700;
            }
        }
    }
    div:first-child {
        padding: 0px 2px 0px 0px;
        a{
            border-bottom-right-radius: 25px;
        }
    }
    div:last-child {
        padding: 0px 0px 0px 2px;
        a{
            border-bottom-left-radius: 25px;
        }
    }
}

div.title {
    text-align: center;
    padding: 32px 0;
    h2 {
        font-weight: 300;
        margin: 0;
        strong {
            font-weight: 700;
        }
    }
}

div.illustration {
    position: relative;
    background-color: #f2f1f1;
    border-radius: 25px;
    img {
        position: relative;
        left: 9%;
        width: 78%;
        margin-bottom: 50px;
    }
    div.types {
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        font-weight: bolder;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        .type {
            float: left;
            height: 50px;
            width: 50%;
            text-transform: uppercase;
            text-align: center;
            line-height: 50px;
        }
        .type:first-child{
           border-bottom-left-radius: 25px;
           border-top-right-radius: 25px;
        }
        .type:nth-child(2){
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
         }
    }
    &+p.gray {
        color: #DCDCDC;
    }

    &+p{
        padding: 25px 0px 0px 0px;
    }
}

div.card.info {
    padding: 48px 58px 58px 58px;
    background-color: #4a90e2;
    border-radius: 15px;
    margin-bottom: 30px;
    border: 0;
    h5{
        color: white;
        font-weight: 400;
        font-size: 20px;
        margin: 10px 0 0 0;
    }
    p{
        font-size: 20px;
        font-weight: 300;
        margin: 0;
    }
}

div.card.stats{
    border: 0;
    background-color: #d8d8d8;
    border-radius: 15px;
    padding: 42px 24px;
    h4{
        font-weight: 700;
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    div.col {
        padding: 0 5px;
        h6 {
            margin: 3px 0 0 0;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
        }
        .bg {
            height: 116px;        
            background-color: white;
            position: relative;
            .value {
                position: absolute;
                background-color: #4a90e2;
                bottom: 0;
                width: 100%;
            }
        }
    }

    div.col:first-child{
        padding-left: 15px;
    }
    div.col:last-child{
        padding-right: 15px;
    }
}

div.moves {
    h3 {
        font-weight: 700;
        font-size: 30px;
        margin: 15px 0 25px 0;
    }
    .move {
        border-radius:10px;
        text-align: center;
        padding: 7px 5px;
        font-family: 'Abel', sans-serif;
        font-weight: bolder;
        margin-bottom: 23px;
        color: #1f2532;        
    }

    .tutor .move {
        background-color: #4a90e2;
    }
    .egg .move {
        background-color: #7F90A0;
    }
    .machine .move {
        background-color: #be93e7;
    }
    .level .move {
        background-color: #a0da5e;
    }
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}